#!/usr/bin/env xdg-open
[Desktop Entry]
Name=SteamOS Btrfs
Exec=bash -c "if [[ -f /usr/share/steamos-btrfs/install.sh ]] ; then /usr/share/steamos-btrfs/install.sh ; else t=\\"\\$(mktemp -d)\\" ; curl -sSL https://gitlab.com/popsulfr/steamos-btrfs/-/archive/wip/steamos-btrfs-wip.tar.gz | tar -xzf - -C \\"\\$t\\" --strip-components=1 ; \\"\\$t/install.sh\\" ; rm -rf \\"\\$t\\" ; fi"
Icon=drive-partition
Terminal=true
Type=Application
StartupNotify=false
