#!/usr/bin/env xdg-open
[Desktop Entry]
Name=SteamOS Btrfs
Exec=bash -c "t=\\"\\$(mktemp -d)\\" ; curl -sSL https://gitlab.com/popsulfr/steamos-btrfs/-/archive/main/steamos-btrfs-main.tar.gz | tar -xzf - -C \\"\\$t\\" --strip-components=1 ; \\"\\$t/install.sh\\" ; rm -rf \\"\\$t\\""
Icon=drive-harddisk
Terminal=true
Type=Application
StartupNotify=false
