[Unit]
Description=Converts ext4 /home to btrfs
Before=sddm.service

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/lib/steamos/steamos-convert-home-to-btrfs

[Install]
WantedBy=multi-user.target
