[Unit]
Description=Converts ext4 /home to btrfs
Before=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/lib/steamos/steamos-convert-home-to-btrfs

[Install]
WantedBy=local-fs-pre.target
